In [1]:
import numpy as np
import pandas as pd

In [2]:
resto= pd.read_csv('restaurants.csv')
resto.head()

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,2000
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000

In [3]:
resto.duplicated().sum()

3

In [4]:
resto.drop_duplicates(subset=None, keep='first', inplace=True)
resto.duplicated().sum()

0

In [5]:
resto['Location']= resto['Location'].str.replace(" ","")
resto['Locality']= resto['Locality'].str.replace(" ","")
resto.head()

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"ScindiaHouse,ConnaughtPlace,CentralDelhi",CentralDelhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,2000
1,The G.T. ROAD,"M-Block,ConnaughtPlace,CentralDelhi",CentralDelhi,Delhi,North Indian,4.3,2363,1500
2,Tamasha,"ConnaughtPlace,CentralDelhi",CentralDelhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,The Junkyard Cafe,"ConnaughtPlace,CentralDelhi",CentralDelhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
4,Chili's American Grill and Bar,"M-Block,ConnaughtPlace,CentralDelhi",CentralDelhi,Delhi,"Mexican, American, Italian",4.4,1094,2000

In [6]:
sep=' '
resto['Cost']= resto['Cost'].astype(str)
resto['Combined'] = resto['Locality']+sep+resto['City']+sep+resto['Cuisine']

In [7]:
resto.head()

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost,Combined
0,Local,"ScindiaHouse,ConnaughtPlace,CentralDelhi",CentralDelhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,2000,"CentralDelhi Delhi North Indian, Finger Food,..."
1,The G.T. ROAD,"M-Block,ConnaughtPlace,CentralDelhi",CentralDelhi,Delhi,North Indian,4.3,2363,1500,CentralDelhi Delhi North Indian
2,Tamasha,"ConnaughtPlace,CentralDelhi",CentralDelhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000,"CentralDelhi Delhi Finger Food, North Indian,..."
3,The Junkyard Cafe,"ConnaughtPlace,CentralDelhi",CentralDelhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800,"CentralDelhi Delhi North Indian, Mediterranea..."
4,Chili's American Grill and Bar,"M-Block,ConnaughtPlace,CentralDelhi",CentralDelhi,Delhi,"Mexican, American, Italian",4.4,1094,2000,"CentralDelhi Delhi Mexican, American, Italian"

In [8]:
new_df= resto[['Name', 'City','Locality','Combined','Cuisine']]

In [9]:
new_df['Combined']= new_df['Combined'].apply(lambda x:x.lower())

C:\Users\ragha\AppData\Local\Temp\ipykernel_13576\2079061807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Combined']= new_df['Combined'].apply(lambda x:x.lower())

In [10]:
new_df.head()

,Name,City,Locality,Combined,Cuisine
0,Local,Delhi,CentralDelhi,"centraldelhi delhi north indian, finger food,...","North Indian, Finger Food, Continental"
1,The G.T. ROAD,Delhi,CentralDelhi,centraldelhi delhi north indian,North Indian
2,Tamasha,Delhi,CentralDelhi,"centraldelhi delhi finger food, north indian,...","Finger Food, North Indian, Italian, Contine..."
3,The Junkyard Cafe,Delhi,CentralDelhi,"centraldelhi delhi north indian, mediterranea...","North Indian, Mediterranean, Asian, Italian..."
4,Chili's American Grill and Bar,Delhi,CentralDelhi,"centraldelhi delhi mexican, american, italian","Mexican, American, Italian"

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features= 10000)

In [12]:
vectors= cv.fit_transform(new_df['Combined']).toarray()

In [13]:
vectors[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [14]:
cv.get_feature_names_out()

array(['24parganasnorth', '24parganassouth', 'afghani', 'african', 'agra',
       'ahmedabad', 'american', 'and', 'andherieast', 'andheriwest',
       'andhra', 'arabian', 'asian', 'assamese', 'awadhi', 'bakery',
       'bandra', 'bangalore', 'bangaloremangalorehighway', 'barbecue',
       'bengali', 'bihari', 'biryani', 'british', 'burger', 'burmese',
       'cantonese', 'centralagra', 'centralahmedabad', 'centralbangalore',
       'centralchandigarh', 'centralchennai', 'centraldelhi',
       'centraleasthyderabad', 'centralhyderabad', 'centralindore',
       'centraljaipur', 'centralkolkata', 'centrallucknow',
       'centralludhiana', 'centralnagpur', 'centralsuburbs',
       'centraludaipur', 'centralvadodara', 'centralwesthyderabad',
       'chaat', 'chandigarh', 'chennai', 'chettinad', 'chinese',
       'coastal', 'coffee', 'confectionary', 'contemporary',
       'continental', 'cream', 'cuisine', 'delhi', 'deli', 'desserts',
       'dombivali', 'doughnuts', 'drinks', 'eastagra', 'eastahmedabad',
       'eastbangalore', 'eastchandigarh', 'eastdelhi', 'eastern',
       'easthyderabad', 'eastindore', 'eastjaipur', 'eastkochi',
       'eastkolkata', 'eastlucknow', 'eastludhiana', 'eastnagpur',
       'eastpune', 'eastsurat', 'eastudaipur', 'eastvadodara', 'european',
       'faridabad', 'fast', 'finger', 'food', 'french', 'frontier',
       'fusion', 'german', 'ghaziabad', 'goa', 'goan', 'greek',
       'gujarati', 'gurgaon', 'health', 'howrah', 'hyderabad',
       'hyderabadi', 'ice', 'indian', 'indonesian', 'indore', 'iranian',
       'italian', 'jaipur', 'japanese', 'juice', 'kashmiri', 'kerala',
       'kochi', 'kolkata', 'konkani', 'korean', 'lebanese', 'lucknow',
       'lucknowi', 'ludhiana', 'maharashtrian', 'malaysian', 'malvani',
       'mangalorean', 'maryada', 'mediterranean', 'mex', 'mexican',
       'middle', 'mithai', 'modern', 'mohali', 'moroccan', 'mughlai',
       'multi', 'mumbai', 'mysorehighway', 'naga', 'nagpur', 'navimumbai',
       'ncrgreaternoida', 'nepalese', 'noida', 'north', 'northagra',
       'northahmedabad', 'northbangalore', 'northchandigarh',
       'northchennai', 'northdelhi', 'northgoa', 'northindore',
       'northjaipur', 'northkochi', 'northkolkata', 'northlucknow',
       'northmysore', 'northnagpur', 'northsurat', 'northvadodara',
       'northwestern', 'oriental', 'pakistani', 'panchkula', 'parsi',
       'persian', 'pizza', 'portuguese', 'powai', 'pune', 'rajasthani',
       'seafood', 'secunderabad', 'shakes', 'sindhi', 'singaporean',
       'sizzlers', 'south', 'southahmedabad', 'southbangalore',
       'southchandigarh', 'southchennai', 'southdelhi', 'southgoa',
       'southhyderabad', 'southindore', 'southjaipur', 'southkolkata',
       'southlucknow', 'southludhiana', 'southmumbai', 'southnagpur',
       'southpune', 'southsurat', 'southudaipur', 'southvadodara',
       'southwestchennai', 'spanish', 'street', 'surat', 'sushi', 'tea',
       'tex', 'thai', 'thane', 'tibetan', 'turkish', 'udaipur',
       'vadodara', 'vietnamese', 'waffle', 'west', 'westagra',
       'westahmedabad', 'westbangalore', 'westchandigarh', 'westchennai',
       'westdelhi', 'western', 'westhyderabad', 'westindore',
       'westjaipur', 'westkolkata', 'westludhiana', 'westnagpur',
       'westpune', 'westsurat', 'westudaipur', 'westvadodara', 'world',
       'yogurt', 'zirakpur'], dtype=object)

In [15]:
from sklearn.metrics.pairwise import cosine_similarity

In [16]:
similarity= cosine_similarity(vectors)

In [17]:
sorted(list(enumerate(similarity[0])),reverse = True, key= lambda x:x[1])[1:6]

[(122, 0.9354143466934851),
 (2, 0.8819171036881966),
 (17, 0.8571428571428569),
 (360, 0.8571428571428569),
 (689, 0.8571428571428569)]

In [18]:
def recommend(res, loc, city):
    res_index = new_df.index[new_df['Name'] == res]
    if len(res_index) == 0:
        print("Restaurant not found.")
        return
    cuisines = set(new_df.loc[res_index[0], 'Cuisine'].split(', '))
    print("Cuisines of input restaurant:", ', '.join(cuisines))
    similar_restaurants = new_df[(new_df['Locality'] == loc) | (new_df['City'] == city)]
    similar_restaurants['Matched Cuisines'] = similar_restaurants['Cuisine'].apply(lambda x: len(set(x.split(', ')) & cuisines))
    similar_restaurants = similar_restaurants[similar_restaurants['Name'] != res]
    similar_restaurants = similar_restaurants.sort_values(by='Matched Cuisines', ascending=False)
    if len(similar_restaurants) > 0:
        print("Top 5 recommended restaurants:")
        for name, matched_cuisines in similar_restaurants[['Name', 'Matched Cuisines']].head(5).itertuples(index=False):
            print(f"{name} (Matched Cuisines: {matched_cuisines})")
    else:
        print("No similar restaurants found in the same locality or city.")

In [19]:
recommend('10 Downing Street','CentralEastHyderabad', 'Hyderabad')

Cuisines of input restaurant:  North Indian,  Continental,  Finger Food, Multi-Cuisine,  Chinese
Top 5 recommended restaurants:
Top of The World Restaurant (Matched Cuisines: 4)
Ice n Spice (Matched Cuisines: 4)
Theth Masala (Matched Cuisines: 4)
Heart Cup Coffee (Matched Cuisines: 4)
Skypark Cafe (Matched Cuisines: 4)

C:\Users\ragha\AppData\Local\Temp\ipykernel_13576\1917222609.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  similar_restaurants['Matched Cuisines'] = similar_restaurants['Cuisine'].apply(lambda x: len(set(x.split(', ')) & cuisines))

In [20]:
import pickle

In [21]:
pickle.dump(new_df.to_dict(),open('resto_dict.pkl','wb'))

In [22]:
pickle.dump(similarity,open('similarity.pkl', 'wb'))

pickle.dump(new_df.to_dict(),open('resto_dict1.pkl','wb'))

In [23]:
pickle.dump(similarity,open('similarity1.pkl', 'wb'))